
.toolbar-background{
    background: linear-gradient(to left, #fad961 0%, #ffa26f 100%) !important;
}

.toolbar-background.button-inner{
    color:white;
}

.toolbar-background.bar-buttons{
    color:white;
}

.toolbar-background.toolbar-title{
    color:white;
}

.toolbar-title{
    color: white !important;
}

.back-button{
     color: white !important;
}