<!-- Generated template for the DimensionamentoAllacciFognaturaComponent component -->

<div >

   <ion-grid>
        <!-- ACQUE NERE -->
          <div class="subset">
                <ion-row class="subset-header-medium">
                    <ion-col col-9 > 
                        <div class="label-header label-header-green" >
                                <ion-label text-wrap>ACQUE NERE</ion-label>
                        </div>
                    </ion-col>
                    <ion-col col-3 > 
                        <div class="label-header label-header-green" >
                                <ion-label text-wrap>UIeq</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                   <ion-col col-6 > 
                        <div class="label-header label-header-lightgreen" >
                           <ion-label text-wrap>Uso domestico, uso servizi condominiali (numero UNITA' IMMOBILIARI)</ion-label>
                        </div>
                   </ion-col>    
                   <ion-col col-3>
                        <div class="">
                       <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueNere()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueNere.usoDomestico"></ion-input>
                        </div>
                   </ion-col>
                   <ion-col col-3>
                        <div class="label-header label-header-lightgreen">
                       <ion-label>{{ads.DimensionamentoAllacciFognatura.AcqueNere.usoDomestico / tableParams.dividers[0] | number: precision | removeComma}}</ion-label>
                        </div>
                   </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 > 
                            <div class="label-header label-header-lightgreen" >
                            <ion-label text-wrap>Alberghi, pensioni, residence alberghieri (NUMERO CAMERE/APPARTAMENTI)</ion-label>
                            </div>
                    </ion-col>    
                    <ion-col col-3>
                            <div class="">
                            <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueNere()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueNere.alberghieri"></ion-input>
                            </div>
                    </ion-col>
                    <ion-col col-3>
                            <div class="label-header label-header-lightgreen">
                            <ion-label>{{ads.DimensionamentoAllacciFognatura.AcqueNere.alberghieri / tableParams.dividers[1] | number: precision | removeComma}}</ion-label>
                            </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6 > 
                            <div class="label-header label-header-lightgreen" >
                            <ion-label text-wrap>Ospedali, case di cura, altre comunità numerose (NUMERO POSTI LETTO)</ion-label>
                            </div>
                    </ion-col>    
                    <ion-col col-3>
                            <div class="">
                            <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueNere()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueNere.ospedali"></ion-input>
                            </div>
                    </ion-col>
                    <ion-col col-3>
                            <div class="label-header label-header-lightgreen">
                            <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AcqueNere.ospedali / tableParams.dividers[2] | number: precision | removeComma}}</ion-label>
                            </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                        <ion-col col-6 > 
                                <div class="label-header label-header-lightgreen" >
                                <ion-label text-wrap>Attività artigianali, industriali, zootecniche (MQ SUPERFICIE UTILE COPERTA)</ion-label>
                                </div>
                        </ion-col>    
                        <ion-col col-3>
                                <div class="">
                                <ion-input type="number" [placeholder]="selectLabel"  (ionChange)="updateAcqueNere()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueNere.artigianali"></ion-input>
                                </div>
                        </ion-col>
                        <ion-col col-3>
                                <div class="label-header label-header-lightgreen">
                                <ion-label>{{ads.DimensionamentoAllacciFognatura.AcqueNere.artigianali / tableParams.dividers[3] | number: precision | removeComma}}</ion-label>
                                </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 > 
                                <div class="label-header label-header-lightgreen" >
                                <ion-label text-wrap>Attività commerciali, di intrattenimento, impianti sportivi e tutto quanto non compreso nelle voci precedenti (MQ SUPERFICIE UTILE COPERTA)</ion-label>
                                </div>
                        </ion-col>    
                        <ion-col col-3>
                                <div class="">
                                <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueNere()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueNere.commerciali"></ion-input>
                                </div>
                        </ion-col>
                        <ion-col col-3>
                                <div class="label-header label-header-lightgreen">
                                <ion-label>{{ads.DimensionamentoAllacciFognatura.AcqueNere.commerciali / tableParams.dividers[4] | number: precision | removeComma}}</ion-label>
                                </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="subset-header">
                    <ion-col col-9 > 
                        <div class="label-header label-header-green" >
                                <ion-label text-wrap>Somma UIeq (ACQUE NERE)</ion-label>
                        </div>
                    </ion-col>
                    <ion-col col-3 > 
                        <div class="label-header label-header-green" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AcqueNere.sommaUIeq | number: precision | removeComma}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row class="subset-header">
                    <ion-col col-9 > 
                        <div class="label-header label-header-green" >
                                <ion-label text-wrap>Portata relativa alle unità abitative [l/s] (ACQUE NERE)</ion-label>
                        </div>
                    </ion-col>
                    <ion-col col-3 > 
                        <div class="label-header label-header-green" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AcqueNere.portata | number: precision | removeComma}}</ion-label>
                        </div>
                    </ion-col>
                    
                
                </ion-row>
          </div>
        
        <!-- ACQUE BIANCHE -->
        <div class="subset">
            <ion-row class="subset-header-medium">
                <ion-col col-6 > 
                    <div class="label-header label-header-blue" >
                        <ion-label text-wrap>ACQUE BIANCHE</ion-label>
                    </div>
                </ion-col>
                <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <ion-label text-wrap>Superficie (mq)</ion-label>
                        </div>
                    </ion-col>
                    <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <ion-label text-wrap>Portata (l/s)</ion-label>
                        </div>
                    </ion-col>
                    <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <ion-label text-wrap>UIeq</ion-label>
                        </div>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6 > 
                    <div class="label-header label-header-lightblue" >
                        <ion-label text-wrap>Unità equivalenti "fisse" in presenza di portata bianca</ion-label>
                    </div>
                </ion-col>    
                <ion-col col-2>
                        <div class="label-header label-header-lightblue">
                            <span></span>
                        </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <span></span>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <ion-label>{{ads.DimensionamentoAllacciFognatura.AcqueBianche.uiEqFisse | number: precision | removeComma}}</ion-label>
                    </div>
                </ion-col>    
            </ion-row>
            <ion-row>
                <ion-col col-6 > 
                    <div class="label-header label-header-lightblue" >
                        <ion-label text-wrap>Superfici impermeabili (tetti, strade) [mq]</ion-label>
                    </div>
                </ion-col>    
                <ion-col col-2>
                    <div class="">
                        <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueBianche()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueBianche.supImpermeabili"></ion-input>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <ion-label>{{ads.DimensionamentoAllacciFognatura.AcqueBianche.portataImpermeabili | number: precision | removeComma}}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <span></span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6 > 
                    <div class="label-header label-header-lightblue" >
                        <ion-label text-wrap>Superfici semipermeabili drenati (parcheggi) [mq]</ion-label>
                    </div>
                </ion-col>    
                <ion-col col-2>
                    <div class="">
                        <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueBianche()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueBianche.supSemipermeabili"></ion-input>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AcqueBianche.portataSemipermeabili | number: precision | removeComma}}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <span></span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6 > 
                    <div class="label-header label-header-lightblue" >
                        <ion-label text-wrap>Portate di acque bianche con limitazione (es. vasche laminazione, strozzature, etc) [l/s]</ion-label>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <span></span>
                    </div>
                </ion-col>    
                <ion-col col-2>
                    <div class="">
                        <ion-input type="number" [placeholder]="selectLabel" (ionChange)="updateAcqueBianche()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.AcqueBianche.portateLimitate"></ion-input>
                    </div>
                </ion-col>
                <ion-col col-2>
                    <div class="label-header label-header-lightblue">
                        <span></span>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="subset-header">
                <ion-col col-6 > 
                    <div class="label-header label-header-blue" >
                        <ion-label text-wrap>Somma UIeq (ACQUE BIANCHE)</ion-label>
                    </div>
                </ion-col>
                <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <span ></span>
                        </div>
                    </ion-col>
                    <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <span ></span>
                        </div>
                    </ion-col>
                    <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AcqueBianche.sommaUIeq | number: precision | removeComma}}</ion-label>
                        </div>
                    </ion-col>
            </ion-row>
            <ion-row class="subset-header">
                <ion-col col-6 > 
                    <div class="label-header label-header-blue" >
                        <ion-label text-wrap>Portata meteorica totale [l/s] (ACQUE BIANCHE)</ion-label>
                    </div>
                </ion-col>
                <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <span></span>
                        </div>
                    </ion-col>
                    <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AcqueBianche.portata | number: precision | removeComma}}</ion-label>
                        </div>
                    </ion-col>
                    <ion-col col-2 > 
                        <div class="label-header label-header-blue" >
                                <span ></span>
                        </div>
                    </ion-col>
            </ion-row>
        </div>
        <!-- VINCOLI -->
        <div class="subset">
            <ion-row class="subset-header">
                <ion-col col-9 > 
                        <div class="label-header label-header-orange" >
                                <ion-label text-wrap>Portata complessiva di calcolo [l/s]
                                (FOGNATURA MISTA)</ion-label>
                        </div>
                </ion-col>
                <ion-col col-3 > 
                        <div class="label-header label-header-orange" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.Vincoli.portataMista | number: precision | removeComma}}</ion-label>
                        </div>
                </ion-col>
            </ion-row>
            <ion-row class="subset-header">
                <ion-col col-9 > 
                        <div class="label-header label-header-orange" >
                                <ion-label text-wrap>TOTALE UIeq (acque nere + acque bianche)</ion-label>
                        </div>
                </ion-col>
                <ion-col col-3 > 
                        <div class="label-header label-header-orange" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.Vincoli.totaleUIeq | number: precision | removeComma}}</ion-label>
                        </div>
                </ion-col>
            </ion-row>
            <ion-row >
                <ion-col col-9 > 
                        <div class="label-header label-header-lightorange" >
                                <ion-label text-wrap>Lunghezza [m]</ion-label>
                        </div>
                </ion-col>
                <ion-col col-3 > 
                        <div class="" >
                                <ion-input [placeholder]="selectLabel" type="number" (ionChange)="updateVincoli()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.Vincoli.lunghezza"></ion-input>
                        </div>
                </ion-col>
            </ion-row>
            <ion-row >
                <ion-col col-9 > 
                        <div class="label-header label-header-lightorange" >
                                <ion-label text-wrap>Dislivello [m]</ion-label>
                        </div>
                </ion-col>
                <ion-col col-3 > 
                        <div class="" >
                                <ion-input [placeholder]="selectLabel" type="number" min="0.1" step="0.1" (ionChange)="updateVincoli()" [(ngModel)]="ads.DimensionamentoAllacciFognatura.Vincoli.dislivello"></ion-input>
                        </div>
                </ion-col>
            </ion-row>
            <ion-row class="subset-header">
                <ion-col col-9 > 
                        <div class="label-header label-header-orange" >
                                <ion-label text-wrap>Pendenza (dislivello/lunghezza)</ion-label>
                        </div>
                </ion-col>
                <ion-col col-3 > 
                        <div class="label-header label-header-orange" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.Vincoli.pendenza*100.0 | number: precision | removeComma}}%</ion-label>
                        </div>
                </ion-col>
            </ion-row>
            <ion-row class="subset-header-medium">
                <ion-col col-9 > 
                        <div class="label-header label-header-darkorange" >
                                <ion-label text-wrap>Diametro interno minimo necessario [mm]</ion-label>
                        </div>
                </ion-col>
                <ion-col col-3 > 
                        <div class="label-header label-header-darkorange" >
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.Vincoli.diamIntMinimo | number: precision | removeComma}}</ion-label>
                        </div>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>

    <!-- Dimensionamento -->
    <ion-grid>
        <!-- Esistente -->
        <div class="subset">
            <ion-row class="subset-header-medium">
                <ion-col col-12 > 
                        <div class="label-header" >
                                <ion-label text-wrap>VERIFICA ALLACCIAMENTO ESISTENTE / DIMENSIONAMENTO NUOVO ALLACCIO</ion-label>
                        </div>

                </ion-col>
            </ion-row>

            <ion-row class="subset-header-medium2">
                <ion-col  col-4 > 
                    <div class="label-header label-header-green" >
                        <ion-label text-wrap style="font-size:large !important;">Condotta allacciamento</ion-label>
                     </div>
                </ion-col>
                <ion-col col-1 >
                    <div class="label-header label-header-green" >
                        <ion-label text-center text-wrap>Diam. int. tubo scelto[mm]</ion-label>
                    </div>     
                </ion-col>
                <ion-col col-1 > 
                    <div class="label-header label-header-green" >
                        <ion-label text-center text-wrap>K (coeff. scabr.) [m1/3s-1]</ion-label>
                    </div>
                </ion-col>
                <ion-col col-1 > 
                        <div class="label-header label-header-green" >
                            <ion-label text-center text-wrap>Portata smaltibile con riempimento 70% [l/s]</ion-label>
                        </div>
                </ion-col>
                <ion-col col-1 > 
                        <div class="label-header label-header-green" >
                            <ion-label text-center text-wrap>alfa</ion-label>
                        </div>
                </ion-col>
                <ion-col col-1 > 
                        <div class="label-header label-header-green" >
                            <ion-label text-center text-wrap>% di riemp. tubo a Portata compl.</ion-label>
                        </div>
                </ion-col>
                <ion-col col-1 > 
                        <div class="label-header label-header-green" >
                            <ion-label text-center text-wrap>Vel. a Portata compl. [m/s]</ion-label>
                        </div>
                </ion-col>
                <ion-col col-2 > 
                        <div class="label-header label-header-green" >
                            <ion-label text-center text-wrap>Verifica condotta esistente e/o Dimensionamento condotta nuova</ion-label>
                        </div>
                </ion-col>
        </ion-row>
        <ion-row >
                <ion-col col-4 > 
                        <div class="label-header" >
                                <ion-label text-wrap><strong>VERIFICA ALLACCIAMENTO ESISTENTE (scelta libera "materiale/DE/PN")</strong></ion-label>
                        </div>
                </ion-col>
                <ion-col col-8 >
                        <ion-label text-wrap></ion-label>
                </ion-col>
        </ion-row>
        <ion-row >
       
                <ion-col col-4 > 
                        <ion-select required 
                                placeholder="Seleziona allacciamento esistente" 
                                interface="action-sheet" 
                                style="max-width: 100% !important;" 
                                [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente"
                                (ionChange)="updateAllacciamento(ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente)"
                                (ionCancel)="cancelAlloggiamentoEsistente()">
                            <ion-option *ngFor="let item of allacciArray" [value]="item">{{item.nome}}</ion-option>
                        </ion-select>
                </ion-col>
                <ion-col col-1>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="label-header label-header-lightblue">
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.dinterno | number: precision | removeComma}}</ion-label>
                        </div>
                </ion-col>
                <ion-col col-1>
                   <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="label-header label-header-lightblue">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.kval | number: precision | removeComma}}</ion-label>
                   </div>
                </ion-col>
                <ion-col col-1>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" 
                                class="label-header label-header-lightblue"
                                [ngStyle]="{'color': setColorForPortata(ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.velocita)}">
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.portata | number: precision | removeComma}}</ion-label>
                         </div>
                </ion-col>
                <ion-col col-1>
                    <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" class="label-header label-header-lightblue">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.alfa | number: precision | removeComma}}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-1>
                    <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" 
                        class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.percRiempimento)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.percRiempimento }}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-1>
                    <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" 
                        class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.risultato)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.velocita }}</ion-label>
                    </div>
                </ion-col>

                                    
                <ion-col col-2>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente" 
                        class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.risultato)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoEsistente.risultato}}</ion-label>
                    </div>
                </ion-col>
        </ion-row>
        <ion-row >
                <ion-col col-4 > 
                        <div class="label-header" >
                                <ion-label text-wrap><strong>DIMENSIONAMENTO ALLACCIAMENTO NUOVO
                                        (scelta predefinita o libera "materiale/DE/PN")</strong></ion-label>
                                
                        </div>
                </ion-col>
                <ion-col col-8 >
                        <span></span>
                </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of allacciEsempioArray">
       
                <ion-col col-4 > 
                        <div class="label-header label-header-lightblue">
                                <ion-label text-wrap><strong>{{item.nome}}</strong></ion-label>
                        </div>
                </ion-col>
                <ion-col col-1>
                        <div class="label-header label-header-lightblue">
                                <ion-label text-wrap>{{item.dinterno | number: precision | removeComma}}</ion-label>
                        </div>
                </ion-col>
                <ion-col col-1>
                   <div  class="label-header label-header-lightblue">
                        <ion-label text-wrap>{{item.kval | number: precision | removeComma}}</ion-label>
                   </div>
                </ion-col>
                <ion-col col-1>
                        <div  class="label-header label-header-lightblue"
                             [ngStyle]="{'color': setColorForPortata(item.velocita)}">
                             <ion-label text-wrap>{{item.portata | number: precision | removeComma}}</ion-label>
                         </div>
                </ion-col>
                <ion-col col-1>
                        <div  class="label-header label-header-lightblue">
                                <ion-label text-wrap>{{item.alfa | number: precision | removeComma}}</ion-label>
                         </div>
                </ion-col>
                <ion-col col-1>
                    <div class="label-header label-header-lightblue"
                    [ngStyle]="{'color': setColorForMessage(item.percRiempimento)}">
                    <ion-label text-wrap>{{item.percRiempimento}}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-1>
                    <div class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(item.risultato)}">
                        <ion-label text-wrap>{{item.velocita}}</ion-label>
                    </div>
                </ion-col>

                                    
                <ion-col col-2>
                        <div class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(item.risultato)}">
                        <ion-label text-wrap>{{item.risultato}}</ion-label>
                    </div>
                </ion-col>
        </ion-row>
        
        <ion-row >
       
                <ion-col col-4 > 
                        <ion-select required 
                                placeholder="Seleziona allacciamento nuovo" 
                                interface="action-sheet" 
                                style="max-width: 100% !important;" 
                                [(ngModel)]="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6"
                                (ionChange)="updateAllacciamento(ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6)"
                                (ionCancel)="cancelAlloggiamentoNuovo()">
                            <ion-option *ngFor="let item of allacciNuoviArray" [value]="item">{{item.nome}}</ion-option>
                        </ion-select>
                </ion-col>
                <ion-col col-1>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="label-header label-header-lightblue">
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.dinterno | number: precision | removeComma}}</ion-label>
                        </div>
                </ion-col>
                <ion-col col-1>
                   <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="label-header label-header-lightblue">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.kval | number: precision | removeComma}}</ion-label>
                   </div>
                </ion-col>
                <ion-col col-1>
                   <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" 
                        class="label-header label-header-lightblue"        
                        [ngStyle]="{'color': setColorForPortata(ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.velocita)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.portata | number: precision | removeComma}}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-1>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" class="label-header label-header-lightblue">
                                <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.alfa | number: precision | removeComma}}</ion-label>
                         </div>
                </ion-col>
                     
                <ion-col col-1>
                    <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" 
                        class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.percRiempimento)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.percRiempimento }}</ion-label>
                    </div>
                </ion-col>
                <ion-col col-1>
                    <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" 
                        class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.risultato)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.velocita }}</ion-label>
                    </div>
                </ion-col>

                                    
                <ion-col col-2>
                        <div *ngIf="ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6" 
                        class="label-header label-header-lightblue"
                        [ngStyle]="{'color': setColorForMessage(ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.risultato)}">
                        <ion-label text-wrap>{{ads.DimensionamentoAllacciFognatura.AllacciamentoNuovo6.risultato }}</ion-label>
                    </div>
                </ion-col>
        </ion-row>
        
        </div>

    </ion-grid>
      
      <ion-row>
              <ion-col col-12>
                      <button class="btn btn--primary button-login inline-block btn-details button-mr" style="width:100%" (click)="onSubmit()">Salva</button>
              </ion-col>
              </ion-row>
       
      
      </div>
      
