calcolatrice-quote {
    .title{
        font-weight: 800;
    }

    .element{
        float:left;
    }

    .row{
        border: 1px solid black;
    }

    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        border-bottom-color: #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
    }

}

.containerQuote{
    clear: both;
}

.largePopup .modal-wrapper {
    min-width: 80vw;
    left: 10vw;
}

.labelQuote{
    top: 22px;
    left: -4px;
    position: relative;
}