//== Colors
$white:         #ffffff;
$black:         #3B3C3B;
$gray:          #9B9B9B;
$primary-color: #862356;
$state-warning-bg: yellow;
$lilla-hera: #C5236F;
$green-hera: #158E62;
$blu-hera: #0068B0;


// Google Fnts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i');

// Font Variables
$Montserrat: 'Montserrat', sans-serif;

// Font
$font-family-sans-serif:  "Montserrat ", Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          1.4rem !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         15px !default; // ~16px

$font-size-h1:            4.0rem;
$line-height-h1:          1.2;

$font-size-h2:            3.0rem;
$line-height-h2:          1.2;

$font-size-h3:            2.6rem;
$line-height-h3:          1.2;

$font-size-h4:            2.0rem;
$line-height-h4:          1.2;

$font-size-h5:            1.6rem;
$line-height-h5:          1.2;

$font-size-h6:            1.4rem;
$line-height-h6:          1.55;

$headings-font-family:    inherit !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.1111 !default;
$headings-color:          inherit !default;
$headings-small-color:    $gray !default; //** Blockquote small color

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5555555556 !default; // 28/18
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// Padding
$padding-horizontal: 3%;