<div *ngFor="let item of TreeData" style="padding-left:60px">
         
    <ion-grid no-padding>
        <ion-row >
            <ion-col class="right col-no-border" col-1  >
                <div>
                     <ion-icon item-start *ngIf="item.children?.length" (click)="toggleChildren(item)" name="add-circle" tappable></ion-icon>       
                 </div>
             </ion-col>
    
             <ion-col class="left col-no-border">
                <ion-item style="padding:0">
                    <ion-label style="font-size: 13px;font-weight: 500"> {{item.label}}</ion-label>
                        <ion-checkbox style="margin-right: 15px" [(ngModel)]="item.checked" color="randem" (click)="toggleChildrenChecked(item)" >
                        </ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <resource-tree-view [TreeData]="item.children" *ngIf="item.visible" [hasCheckbox]="hasCheckbox">
    </resource-tree-view>
</div>