page-dimensionamento-allacci {

    .subset-header{
        height:35px;
    }
    
    .subset-header ion-label{
        margin: 0px;
    }

    .subset{
        border: solid 1px  rgba(0, 0, 0, 0.2);
        margin-bottom: 5px;
        border-radius: 5px;
    }

    .bluebox {
        background-color: lightblue;
    }

    .label-header {
        color:white;
        background-color: #3992f2;
        border-radius: 5px;
        height: 100%;
        padding: 1px;
        padding-left:7px;
    }

    .label-header-green{
        background-color: #41863f;
    }
    .label-header-lightgreen{
        background-color: #93ca91;
    }


    .label-header-blue{
        background-color: #3992f2;
    }
    .label-header-lightblue{
        background-color: #89b2df;
    }

    .label-header-lightorange{
        background-color: rgb(247, 216, 158);
    }
    .label-header-orange{
        background-color: orange;
    }
    .label-header-darkorange{
        background-color: rgb(164, 107, 1);
    }


    
    ion-grid{
        box-shadow: 3px 3px 2px #888888;
        margin-bottom: 12px;
        padding: 0px;
          border: solid 1px  rgba(0, 0, 0, 0.2);
    }

    .col{
          border:unset !important;
    }

    .text-col{
        padding-top:15px;
    }
}
